<html>
    <body>
        {% if request.user.is_authenticated %}
            <h2>Welcome {{request.user.username}}
                <button type="submit"><a href='logout'>logout</button>
        {% endif %}
        <h2>Index page</h2>
        <button type="submit"><a href='login'> Login</button>
        <br>
        <button type="summit"><a href='signup'>Sign Up</button>
        <br>
        <button type="submit"><a href='viewusers'>View Users</button>
        <br>
        <button type="submit"><a href='delete'>Delete User</button>
    </body>
</html>