<html>
    <body>
        <h2>Login Page</h2>
        {% if messages %}
        {% for message in messages %}
            
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% endif %}
        <form action="login" method="post">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Username">
   
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password">
            <br><br>
            <button type="submit">Login</button>
        </form>
    </body>
</html